:root {
  --buttonColor: #2196f3;
  --primaryTextColor: #757575;
  --titleColor: #212121;
  --secondaryTextColor: #ffffff;
  --bgColor: #e5e5e5;
}

body {
  /* font-family: 'Raleway', sans-serif; */
  font-family: 'Roboto', 'Arial', sans-serif;
  color: var(--primaryTextColor);

  background-color: var(--bgColor);
}

ul {
  list-style: none;
}

.btn {
  background-color: #f5f4fa;
  cursor: pointer;
}

.btn.btn-primary {
  color: var(--secondaryTextColor);
  background-color: var(--buttonColor);
}

.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  color: var(--secondaryTextColor);
  background-color: var(--buttonColor);
}

.header {
  background-color: var(--secondaryTextColor);
}

.logo.top {
  color: #000000;
}

.logo.bottom {
  color: var(--secondaryTextColor);
}

.logo .part {
  color: #2196f3;
}

.page-nav .link {
  color: var(--titleColor);
}

.auth-nav .link {
  color: var(--primaryTextColor);
}

.link.active {
  color: var(--buttonColor);
}

.link:hover,
.link:focus {
  color: var(--buttonColor);
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--secondaryTextColor);
}

.title {
  color: var(--titleColor);
}

.team {
  background-color: #f5f4fa;
}

.team-members {
  background-color: var(--secondaryTextColor);
}

.cards-item {
  background-color: var(--secondaryTextColor);
}

.footer {
  background-color: #2f303a;
}

.info-map {
  color: var(--secondaryTextColor);
}

.info-send {
  color: rgba(255, 255, 255, 0.6);
}
