:root {
  --buttonColor: #2196f3;
  --primaryTextColor: #757575;
  --titleColor: #212121;
  --secondaryTextColor: #ffffff;
  --bgColor: #e5e5e5;
}

body {
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.03em;
  color: var(--primaryTextColor);
  background-color: var(--bgColor);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.btn {
  font-weight: bold;
  font-size: 16px;
  line-height: 1.87;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.filters .btn {
  background-color: #f5f4fa;
}

.btn.btn-primary,
.btn.btn-secondary:hover,
.btn.btn-secondary:focus {
  color: var(--secondaryTextColor);
  background-color: var(--buttonColor);
}

.hero .btn.btn-primary:hover,
.hero .btn.btn-primary:focus {
  background-color: #188ce8;
}

.header {
  background-color: var(--secondaryTextColor);
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.logo.top {
  color: #000000;
}

.logo.bottom {
  color: var(--secondaryTextColor);
}

.logo .part {
  color: #2196f3;
}

.link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.page-nav .link {
  color: var(--titleColor);
}

.auth-nav .link {
  color: var(--primaryTextColor);
}

.link.active,
.link:hover,
.link:focus {
  color: var(--buttonColor);
}

.hero {
  background-color: #2f303a;
}

.hero-title {
  color: var(--secondaryTextColor);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.hero-title .btn:hover,
.hero-title .btn:focus {
  background-color: #188ce8;
}

.section-title {
  color: var(--titleColor);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.title {
  color: var(--titleColor);
  font-size: 14px;
  line-height: 16px;
  font-weight: 700;
}

.text {
  font-size: 14px;
  line-height: 1.71;
}

.team {
  background-color: #f5f4fa;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-members {
  background-color: var(--secondaryTextColor);
}

.cards-item {
  background-color: var(--secondaryTextColor);
}

.footer {
  background-color: #2f303a;
}

.info-map {
  color: var(--secondaryTextColor);
}

.info-send {
  color: rgba(255, 255, 255, 0.6);
}
